body, html {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

h2 {
  color: #000000; }

header h1, header h2, header h3 {
  color: #CEC8FF;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #000000; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: rgba(65, 2, 90, 0.9); }

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 20px;
  position: relative;
  z-index: 0; }





/* Footer */
section {
  padding: 50px 0; }

.site-footer {
  background: #835496 !important; }

.site-footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff; }

.site-footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.site-footer ul.social li {
  padding: 3px 0; }

.site-footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

.site-footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px; }

.site-footer ul.social li a,
.site-footer ul.quick-links li a {
  color: #ffffff; }

.site-footer ul.social li a:hover {
  color: #eeeeee; }

.site-footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

.site-footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700; }

.site-footer ul.quick-links li a i {
  margin-right: 5px; }

.site-footer ul.quick-links li:hover a i {
  font-weight: 700; }

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px; } }
/* end footer */




/* business hours */
.business-hours li {
  color: #888;
  line-height: 30px;
  border-bottom: 1px solid #333; }

.business-hours li:last-child {
  border-bottom: none; }

.business-hours .opening-hours li.today {
  color: #000000;
  background-color: #c8c8c8; }

/* end business hours */




/* parallax 
.parallaxSign {
  background-image: url("/assets/images/lavendersalonsign.png");
  height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto; }

.parallaxTools {
  background-image: url("/assets/images/tools.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto; }

.parallaxBlowdry {
  background-image: url("/assets/images/blowdry.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto; }

.parallaxShears {
  background-image: url("/assets/images/shears.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto; }
end parallax */




 /* Top & Bottom Borders Out */
.topBottomBordersOut a:before, .topBottomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.topBottomBordersOut a:before {
  top: 0px;
  transform: translateY(10px); }

.topBottomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px); }

.topBottomBordersOut a:hover:before, .topBottomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px); }

/* top and bottom borders end */




/* modal */
.book-modal-body .close {
  position: relative;
  top: -45px;
  left: 10px;
  color: #41025A; }

.book-modal-body .close {
  opacity: 0.75; }

.book-modal-body .close:focus, .book-modal-body .close:hover {
  color: #835496;
  opacity: 1;
  text-decoration: none;
  outline: 0; }

.book-modal .modal-dialog .modal-content {
  border-radius: 0px; }

/* form animation */
.book-modal-form .form-group {
  position: relative;
  margin-bottom: 1.5em !important; }

.book-modal-form .form-control {
  border: 0px solid #ced4da !important;
  border-bottom: 1px solid #adadad !important;
  border-radius: 0 !important; }

.book-modal-form .form-control:focus, .book-modal-form .form-control:active {
  outline: none !important;
  outline-width: 0;
  border-color: #adadad !important;
  box-shadow: 0 0 0 0.2rem transparent; }

*:focus {
  outline: none; }

.book-modal-form {
  padding: 2em 0 0; }

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  border-top: 0px;
  border-left: 0;
  border-right: 0; }

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  opacity: 1; }

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark-box {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #adadad; }

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.1; }

.container-checkbox input:checked ~ .checkmark-box:after {
  color: #ffffff; }

.container-checkbox input:checked ~ .checkmark-box:after {
  display: block; }

.container-checkbox .checkmark-box:after {
  left: 10px;
  top: 4px;
  width: 7px;
  height: 15px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkmark:after, .checkmark-box:after {
  content: "";
  position: absolute;
  display: none; }

.container-checkbox input:checked ~ .checkmark-box {
  background-color: #41025A;
  border: 0px solid transparent; }

.btn-check-log .btn-check-login {
  font-size: 16px;
  padding: 10px 0; }

button.btn-check-login:hover {
  color: #ffffff;
  background-color: #835496;
  border: 2px solid #835496; }

.btn-check-login {
  color: #ffffff;
  background-color: #41025A;
  border: 2px solid #41025A;
  transition: all ease-in-out .3s; }

.btn-check-login {
  display: inline-block;
  padding: 12px 0;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 0;
  width: 100%; }

.forgot-pass-fau a {
  text-decoration: none !important;
  font-size: 14px; }

.text-primary-fau {
  color: #1959a2; }

.select-form-control-placeholder {
  font-size: 100%;
  padding: 7px 0 0 13px;
  margin: 0; }

/* end modal */



/* slide carousel effect */
#salonCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed; }

#salonCarousel h4 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #ffffff;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 600; }

#salonCarousel p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #d5d5d5; }

#salonCarousel .carousel-item a {
  background: #61067c;
  font-size: 14px;
  color: #ffffff;
  padding: 13px 32px;
  display: inline-block; }

#salonCarousel .carousel-item a:hover {
  background: #260231;
  text-decoration: none; }

#salonCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

#salonCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

#salonCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

#salonCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%; }

#salonCarousel h4, #salonCarousel p, #salonCarousel a, #salonCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

#salonCarousel .container {
  max-width: 1430px; }

#salonCarousel .carousel-item {
  height: 100%; }

#salonCarousel {
  position: relative;
  z-index: 1;
  background: url() center center no-repeat;
  background-size: cover; }

.carousel-control-next, .carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%); }

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
  opacity: 1; }

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
  opacity: 0; }

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

/* end carousel effect */



/* newsletter */
.newsletter .newsletter-form {
  position: relative;
  max-width: 355px;
  margin-top: 23px;
  z-index: 999; }

.newsletter .newsletter-form input {
  height: 55px;
  width: 100%;
  padding: 18px 135px 17px 30px;
  font-family: IM Fell English,Times,Georgia,serif;
  font-weight: 400;
  font-style: italic;
  border: 0 none;
  border-radius: 20px;
  outline: none;
  background-color: #ffffff;
  color: #41025A;
  font-size: 1.125rem;
  line-height: 1; }

.newsletter .newsletter-form button {
  font-family: Sofia Pro,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 116px;
  height: 35px;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 15px;
  background-color: #41025A;
  color: #ffffff;
  font-size: .875rem;
  line-height: 1;
  position: absolute;
  right: 9px;
  bottom: 9px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0px;
  outline: none;
  text-decoration: none;
  cursor: pointer; }

.newsletter-form button:hover {
  background: #835496;
  color: #ffffff;
  box-shadow: 0 10px 25px -2px #41025A; }

/* end newsletter */




/* image zoom effect */
.item {
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  margin-top: 50px; }

.item img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease; }

.item img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

/* end image zoom effect */




/* contact button */
.contactBtn {
  background: #41025A;
  color: #ffffff !important;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  line-height: 0.8;
  padding: 18px 30px;
  text-transform: capitalize;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border: 0px !important;
  cursor: pointer;
  border-radius: 100px; }

.contactBtn:hover {
  background: #835496;
  color: #ffffff;
  box-shadow: 0 10px 25px -2px #41025A; }

/* end contact button */




/* accordion toggle */
.panel-group .panel {
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  margin-bottom: 11px; }

.panel .panel-heading {
  padding: 0;
  border-radius: 10px;
  border: none; }

.panel-heading a {
  color: #ffffff !important;
  display: block;
  border: none;
  padding: 20px 35px 20px;
  font-size: 20px;
  background-color: #835496;
  font-weight: 600;
  position: relative;
  color: #ffffff;
  box-shadow: none;
  transition: all 0.1s ease 0; }

.panel-heading a:after, .panel-heading a.collapsed:after {
  content: "\f068";
  font-family: fontawesome;
  text-align: center;
  position: absolute;
  left: -20px;
  top: 10px;
  color: #ffffff;
  background-color: #835496;
  border: 5px solid #ffffff;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease 0s; }

.panel-heading:hover a:after,
.panel-heading:hover a.collapsed:after {
  transform: rotate(360deg); }

.panel-heading a.collapsed:after {
  content: "\f067"; }

#accordion .panel-body {
  background-color: #ffffff;
  color: #8C8C8C;
  line-height: 25px;
  padding: 10px 25px 20px 35px;
  border-top: none;
  font-size: 14px;
  position: relative; }
/* end accordion toggle */
